@using System.Web.Optimization;
@using Code_College.Controllers;
@using Code_College.Models;
@using System.Text.RegularExpressions

@{
    HttpCookie Cookie = Request.Cookies["UserAuth"];

    if (Cookie != null)
    {
        if (!Account.VerifyCookie(Cookie))
        {
            Response.Redirect("/Login");
        }
        else
        {
            ViewBag.Username = Cookie.Values["Username"];
        }
    }

    Regex Regex = new Regex("[a-zA-Z0-9'-_.]", RegexOptions.Compiled);

    if (!Regex.IsMatch(ViewBag.CodeTemplate))
    {
        ViewBag.CodeTemplate = "";
    }

    if (IsPost)
    {
        ViewBag.CodeTemplate = Request.Form["code"];
        ViewBag.ConsoleOutput = ExerciseController.SubmitCode(Request.Form["Code"], ViewBag.Exercise, ViewBag.Username);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Code College, Exercise, Learn Programming, Learn Lua, Lua, Development, Code, @ViewBag.ExerciseTitle" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <title>@ViewBag.Title</title>

    @Styles.Render("~/bundles/editorcss")
    @Scripts.Render("~/bundles/editorjs")

    @Scripts.Render("~/bundles/signalrjs")
    @Scripts.Render("~/bundles/js")

    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var Console = $.connection.ConsoleHub;

            Console.client.UpdateConsole = function (ConsoleOutput) {
                $("#Console").Val() = ConsoleOutput;
            };

            $.connection.hub.start().done(function () {
                
            });

            function UpdateConsole()
            {
                var code = HTMLBodyElement.getElementById("#code");

                Console.server.UpdateConsole(code, @ViewBag.ExerciseID, "@ViewBag.Username");
            }
        });
    </script>

    <script>
        var xhttp = new XMLHttpRequest();
    </script>
</head>

<body>
    <div>
        @ViewBag.ExerciseTitle
    </div>

    <div>
        @ViewBag.Desc
    </div>

    <div>
        <form method="post">
            <textarea id="code" name="code" value="">@ViewBag.CodeTemplate</textarea>
            <div class="submit"><input type="submit" value="Submit" onclick="UpdateConsole()"></div>
        </form>
     </div>

    <div>
        @Html.TextBox("Console")
    </div>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: "lua",
            theme: "night"
        });
    </script>
</body>
</html>